{% extends 'index.html' %}
{% block content %}
{% load bootstrap3 %}
    <div class="container">
        <p>{{cliente.nombre}}</p>
        <a href="tel:{{cliente.telefono}}"><p>{{cliente.telefono}}</p></a>
        <p>{{cliente.direccion}}</p>
        <p>{{cliente.usuario}}</p>
        {% if cliente.suscripcion %}
            <p>Activo</p>
        {% else %}
            <p>Inactivo</p>
        {% endif %}
        {% comment %} <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div> {% endcomment %}
    </div>
    <div class="container">
    <div>
        <a href='{% url 'apps.pagos:add' cliente.id %}' class="btn btn-primary m-0">AGREGAR PAGO</a>    
        <div class="modal fade" id="addpaymodal" role="dialog"></div>
        
    </div>
    <table class="table">
            <tr>
                <th>Periodo</th>
                <th>Pago</th>
                <th>Saldo</th>
                <th>*</th>
            </tr>
        {% for i in pagos%}
            <tr>
                {%if i.saldo == 0 or i.saldo < 0 %}
                    <td style="color:green">{{i.periodo__nombre}}</td>
                {% else %}
                    <td style="color:red">{{i.periodo__nombre}}</td>
                {% endif %}
                <td>{{i.importe__sum}}</td>
                <td>{{i.saldo}}</td>
                <td>
                    <a href='{% url 'apps.pagos:listar' cliente.id i.periodo__nombre  %}' class="btn btn-secondary">Ver pagos</a>    
                </td

            </tr>
        {% endfor %}
    </table>
    </div>
   
    
{% endblock %}