{% extends 'index.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="container-md">
        {% if servicio %}
        <div class="row">
            <div class="d-flex gap-2 col">
                <h1>{{servicio.nombre}}</h1>
                <a style="text-decoration: none;">
                    <button class="btn btn-primary" style="border-color:grey;background-color: grey ;font-family:Roboto;margin-top: 0.5rem;margin-left:1.5rem">AGREGAR PLAN</button>
                </a>
            </div>
            
          </div>
        {% endif %}
    </div>

{% endblock %}